<head>
    <title>QuickGlance</title>

    <script>
    function toggleAll(source, cn) {
      var array = document.getElementsByClassName(cn);
      for(var i = 0; i < array.length; i++){
        array[i].checked = source.checked
      }
    }
    </script>
</head>

<body>
    <!-- Side Bar -->
    {{> sideBar}}
    {{> sAlert}}
    {{> searchResults}}
    {{> dashButton}}
    {{> loginButton}}

    <div id="main">
        {{> fpanel}}
        <!-- Main Content / Map -->
        <div class="map-container">
            {{> googleMap name="map" options=exampleMapOptions}}
        </div>
    </div>

</body>
