<template name="bookmark">
    <li><button class="read-button btn btn-default bookmarkLink" data-toggle="modal" data-target="#myModal" src="{{this.article_url}}" value="{{this.article_title}}">
        <i class="fa fa-user"></i> <b>{{this.article_title}}</b>
        <i class="fa fa-newspaper-o"></i> {{this.article_url}}
    </button></li>
</template>
