<template name="comments">
    <div class="comments-container">
        <div class="panel panel-default comments">
            <div class="panel-body2">
                {{#each commentMessage}}
                <div class="panel panel-info">
                    <div class="media indivComment">
                        <div class="media-left">
                            <img class="media-object img-rounded" width="60px" height="60px" src="{{this.picture}}"/>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{this.username}}</h4>
                            {{this.message}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
