<!-- Template for the comment Box -->

<template name="commentBox">
    <div class="commentbox-container">
        <div class="panel panel-default commentbox">
            <div class="panel-body comment-body">
                {{#if currentUser}}
                <textarea class="form-control" id="commentText" placeholder="Type your comment..." rows="3" onKeyPress={this.handleChange} ></textarea>
                {{else}}
                <textarea class="form-control" id="commentText" placeholder="Please Login to Comment..." rows="3" disabled></textarea>
                {{/if}}
                <div class="pull-right btnGroup">
                    <strong class="{{charClass}}">{{charCount}}</strong>
                    <button class="btn btn-primary pull-right" type="button" {{disableButton}}>Post</button>
                </div>
            </div>
        </div>
    </div>
</template>
