<template name="dashboard">
    <div class="modal fade dashModal" id="dashboardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="modalDash">
            <div class="modal-content dash-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- <center>QuickGlance Dashboard</center> -->
                </div>
                <div class="dashboard-body">
                    <div class="row userDetails">
                        <div class="col-md-12">
                            {{#if currentUser.services.facebook}}
                            <center>
                                <h2 class="dashWelcome">Welcome {{currentUser.services.facebook.first_name}}!</h2>
                                <img class="img-circle" src={{profilePic}}>
                            </center>
                            {{else}}
                            {{#if currentUser.services.google}}
                            <center>
                                <h2 class="dashWelcome">Welcome {{currentUser.services.google.given_name}}!</h2>
                                <img class="img-circle" width="140px" height="140px" src={{currentUser.services.google.picture}}>
                            </center>
                            {{else}}
                            <center>
                                <h2 class="dashWelcome">Welcome User!</h2>
                                <p>Please login to Comment, Bookmark and save your News Preferences</p>
                                <a class="btn btn-block btn-social btn-facebook" id= "facebook-login-modal-1">
                                    <span  class="fa fa-facebook"></span> Log in with Facebook
                                </a>
                                <a class="btn btn-block btn-social btn-google" id= "google-login-modal-1">
                                    <span  class="fa fa-google"></span> Log in with Google
                                </a>
                            </center>
                            {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="searchSection">
                        <center><h3>Search for news you would like to see today!</h3></center>
                        {{> voiceSearchBig}}
                    </div>
                    <div class="recommends">
                        {{>recommendations}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
