
<!-- Top Nav Bar Template -->

<template name="fpanel">
    <div class="container">
        <nav class="navbar navbar-default" id="navbarID">
            <div class="col-md-1">
                <!-- <div class="navbar-header">
                    <a class="navbar-brand" href="#"> -->
                        <img class="logo" alt="Brand" src="/images/LogoSmall.png" height="60px">
                    <!-- </a>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="customMessage">
                    {{#if currentUser.services.facebook}}
                    <p class="navbar-text">Good {{getTime}}, <b>{{currentUser.services.facebook.first_name}}</b>.
                    {{getWeather}}
                    It is currently {{temp}} with {{description}} in {{location}}.</p>
                    {{else}}
                        {{#if currentUser.services.google}}
                        <p class="navbar-text">Good {{getTime}}, <b>{{currentUser.services.google.given_name}}</b>.
                            {{getWeather}}
                            It is currently {{temp}} with {{description}} in {{location}}.</p>
                        {{else}}
                            <p class="navbar-text">Good {{getTime}}, please login to start!
                                {{getWeather}}
                                It is currently {{temp}} with {{description}} in {{location}}.</p>
                        {{/if}}
                    {{/if}}

                </div>
            </div>

            <div class="col-md-3 dropdowns">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle-type" data-toggle="dropdown" href="#" id="listItem"> Type <span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-typeloc" id="dropType" >
                            {{> filterBar}}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle-location" data-toggle="dropdown" href="#" id= "listItem"> Location <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-typeloc" id="dropType">
                            {{> locationBar}}
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <!-- Search Bar -->
                {{> voiceSearch}}
                <!-- Drop Downs -->
            </div>


            <div class = "col-md-1 dropdownNotifs">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                      <span style="font-size:2.6em;" class="glyphicon glyphicon-comment"></span>
                </button>
                <span class="badge" id="chat-badge">{{numChatNotifications}}</span>
                <!-- <i class="material-icons dropdown-toggle" data-toggle="dropdown">chat</i> -->
                <ul class="dropdown-menu" id="dropType">
                    <div class="list-group">
                        {{#if checkNotifications}}
                        <h3> No notifications </h3>
                        {{else}}
                            {{#each chatNotification}}
                                {{> notification}}
                            {{/each}}
                        {{/if}}
                    </div>
                </ul>
            </div>

            <div class = "col-md-1 dropdownBM">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                      <span style="font-size:2.3em;" class="glyphicon glyphicon-bookmark"></span>
                </button>
                <span class="badge" id="bm-badge">{{numBookmarks}}</span>
                <!-- <i class="material-icons dropdown-toggle" data-toggle="dropdown">bookmark_border</i> -->
                <ul class="dropdown-menu" id="dropType">
                    <div class="list-group">
                    {{#if checkBookmarks}}
                    <h3> No Bookmarks</h3>
                    {{else}}
                    {{#each userBookmarks}}
                        <li>
                            <div class="notification">
                            <button class="list-group-item read-button bookmarkLink">
                                <!--<button class="close-notification-button"><b>x</b></button>-->
                                <i class="fa fa-newspaper-o"></i><b> {{article_title}}</b>
                            </button>
                            <button class="close-button close-notification-button-bookmark" value="{{this.article_title}}"><b>x</b></button>
                            </div>
                        </li>
                    {{/each}}
                    {{/if}}
                    </div>
                </ul>
            </div>

            <!-- <div class="col-md-1">
                <center>

                </center>
            </div> -->
        </nav>
    </div>
</template>
