<template name="locationBar">
    <div class="filterSection">
        <form id="weather-form" action="action">
            <input type="radio" id="Africa" value="Africa" name="cont" class="continent" checked={{isChecked "Africa"}}> Africa <br>
            <input type = "radio" id="South America" value="South America" name="cont" class="continent" checked={{isChecked "South America"}}> South America <br>
            <input type = "radio" id="Oceania" value="Oceania" name="cont" class="continent" checked={{isChecked "Ocenia"}}> Oceania <br>
            <input type = "radio" id="Europe" value="Europe" name="cont" class="continent" checked={{isChecked "Europe"}}> Europe <br>
            <input type = "radio" id="Asia" value="Asia" name="cont" class="continent" checked={{isChecked "Asia"}}> Asia <br>
            <input type = "radio" id="North America" value="North America" name="cont" class="continent" checked={{isChecked "North America"}}> North America <br>
            <input type = "radio" id="Antarctica" value="Antarctica" name="cont" class="continent" checked={{isChecked "Antarctica"}}> Antarctica <br><br>
            <input type="radio" id="World" value="World" name="cont" class="continent" checked={{isChecked "World"}}> <img src="/images/world.png" width="20px"> World <br>
        </form>
    </div>
</template>
