<!-- Template for the loginBox -->

<template name="loginBox">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <center>
        <div class="modal-dialog" role="document" id="modalDialogUniq">
            <div class="modal-content" id="myModalcontent">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelLogin"><center>Login</center></h4>
                    </div>
                    <br>
                    <img src="/images/LogoBig.png" width="220px"/>
                    <br>
                    <br>
                <center>
                    <a class="btn btn-block btn-social btn-facebook" id= "facebook-login-modal">
                    <span  class="fa fa-facebook"></span> Log in with Facebook
                    </a>
                    <a class="btn btn-block btn-social btn-google" id= "google-login-modal">
                    <span  class="fa fa-google"></span> Log in with Google
                    </a>
                </center>
                    <!-- <button id="twitter-login-modal" class="btn btn-default"> Login with Twitter</button>
                    {{> loginButtons}} -->
                <br>
                <div class="modal-footer">
                <!-- <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </center>
                <br> -->
                </div>
            </div>
        </div>
        </center>
    </div>
</template>
