<template name="loginButton">
    {{#if currentUser}}
    <button id="logout" class="btn btn-default">Logout</button>
    {{else}}
    <button id="facebook-login" class="btn btn-default"> Login </button>
    {{/if}}
</template>
