<template name="notification">
    <li>
        <div class="notification">
            <button class="notif-button read-button notificationLink list-group-item">
            <i class="fa fa-user"></i> <b>{{this.commenter_name}}</b> has commented on an article you are following: {{this.article_title}}
            <!-- <i class="fa fa-user"></i> <b>{{this.commenter_name}}</b>
            <br>
            <i class="fa fa-newspaper-o"></i> {{this.article_title}}
            <br>
            <i class="fa fa-comment"></i> <i>{{this.comment_message}}</i> -->
            </button>
            <button class="close-button close-notification-button-notif">x</button>
        </div>
    </li>
</template>
