<template name="personalPanels">
    <div class="panel-group personalpanelgroup" id="accordion">
        {{#if chosenBusiness}}
        <div class="panel panel-primary dashpanel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Finance - Latest Stock Prices</a>
                </h3>
            </div>
            <div class="list-group personalpanelcontent panel-collapse collapse in" id="collapse1">
                {{#each stocks}}
                <a href="https://au.finance.yahoo.com/q?s={{this.symbol}}&ql=1" target="_blank" class="list-group-item">
                    <b>{{this.name}}</b> <span class="stockPrice">{{this.lastTradePriceOnly}}</span>
                    <span class="glyphicon glyphicon-triangle-{{stockchange}} {{stockcolour}}" aria-hidden="true"></span>
                </a>
                {{/each}}
            </div>
        </div>
        {{/if}}
        {{#if chosenFood}}
        <div class="panel panel-primary dashpanel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Dining - Restaurants Near You</a>
                </h3>
            </div>
            <div class="list-group personalpanelcontent panel-collapse collapse" id="collapse2">
                {{#each foods}}
                <a href="https://www.google.com.au/maps/place/{{this.name}}" target="_blank" class="list-group-item">
                    <b>{{this.name}}</b>
                    <p>{{this.vicinity}}</p>
                    <b>Rating:</b> {{this.rating}}
                </a>
                <!-- <li class="list-group-item">
                    <p>{{this.name}} <span class="sportDate">{{this.vicinity}}</span></p>
                </li> -->
                {{/each}}
            </div>
        </div>
        {{/if}}
        {{#if chosenSport}}
        <div class="panel panel-primary dashpanel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Sport - Upcoming EPL Matches</a>
                </h3>
            </div>
            <div class="list-group personalpanelcontent panel-collapse collapse" id="collapse3">
                {{#each sports}}
                <center>
                    <a href="https://www.premierleague.com/match/14132" target="_blank" class="list-group-item">
                        <b>{{this.team1.name}}</b> v <b>{{this.team2.name}}</b>
                        <p>{{this.date}}</p>
                    </a>
                </center>
                <!-- <li class="list-group-item">
                    <p>{{this.team1.code}} v {{this.team2.code}} <span class="sportDate">{{this.date}}</span></p>
                </li> -->
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</template>
