<template name="readmore">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog rm-modal-dialog">
            <div class="modal-content rm-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="rm-modal-body">

                <!-- Display loading screen to compensate for the slow python script -->
                {{#if timerEnded}}
                    <!-- {{> loadingscreen}} -->
                    <div class="loading-article">
                      {{> loadingscreen}}
                    </div>

                {{else}}
                    <div class = "read-more-title">
                        {{title}}
                    </div>
                    <!-- Displays the news article -->
                    <div id="news-article"></div>
                    <div class="comment-section">
                        {{> comments}}
                    </div>
                    <div class="commentBox-section">
                        {{> commentBox}}
                    </div>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
