<template name="recommendations">
    {{#if currentUser}}
        {{#if firstTimeUser}}
        <div class="col-xs-8 dashcol">
            <div class="panel panel-primary dashpanel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Top News Around the World </h3>
                </div>
                <div class="list-group dashpanelcontent">
                    {{#each recArticles}}
                        <a href="#" class="toparticle list-group-item">
                            <h3 class="list-group-item-heading">{{this.title}}</h3>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-xs-4 dashcol">
            {{> personalPanels}}
        </div>
        {{else}}
            {{#if nonChosen}}
            <div class="col-xs-6 dashcol">
                <div class="panel panel-primary dashpanel">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Top News Around the World </h3>
                    </div>
                    <div class="list-group dashpanelcontent">
                        {{#each recArticles}}
                            <a href="#" class="toparticle list-group-item">
                                <h3 class="list-group-item-heading">{{this.title}}</h3>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 dashcol">
                <div class="panel panel-primary dashpanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Suggested Articles For You</h3>
                    </div>
                    <div class="list-group dashpanelcontent">
                        {{#each suggestedArticles}}
                        <a href="#" class="suggarticle list-group-item">
                            <h3 class="list-group-item-heading suggText">{{this.name}}</h3>
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-xs-4 dashcol">
                <div class="panel panel-primary dashpanel">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Top News Around the World </h3>
                    </div>
                    <div class="list-group dashpanelcontent">
                        {{#each recArticles}}
                            <a href="#" class="toparticle list-group-item">
                                <h3 class="list-group-item-heading">{{this.title}}</h3>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 dashcol">
                <div class="panel panel-primary dashpanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Suggested Articles For You</h3>
                    </div>
                    <div class="list-group dashpanelcontent">
                        {{#each suggestedArticles}}
                        <a href="#" class="suggarticle list-group-item">
                            <h3 class="list-group-item-heading suggText">{{this.name}}</h3>
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 dashcol">
                {{> personalPanels}}
            </div>
            {{/if}}
        {{/if}}
    {{else}}
    <div class="col-xs-12 dashcol">
        <div class="panel panel-primary topNewsGuest">
            <div class="panel-heading">
                <h3 class="panel-title"> Top News Around the World </h3>
            </div>
            <div class="list-group dashpanelcontent">
                {{#each recArticles}}
                    <a href="#" class="toparticle list-group-item">
                        <h3 class="list-group-item-heading">{{this.title}}</h3>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
</template>
