<template name="searchResults">
    <div id="searchResultsBar" class="searchResultsNav">
        <div class="searchResultText">
            <input type="submit" class="closeSearchBar btn btn-default" value="X" />
            <h2>Searched for <em id="searchTerm">{{typeOfNews}}</em></h2>
            <hr>
            {{#each articles}}
                <h3>{{this.headline.main}}</h3>
                <p>{{this.lead_paragraph}}</p>
                <!-- {{#if checkResults}} -->
                    <button class="read-button btn btn-default">
                        <span class="fa fa-newspaper-o"></span> Read More
                    </button>
                    <!-- Share Buttons -->
                    <br><br>
                    <div class="share-links">
                        <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{this.web_url}}','facebook-share-dialog','width=626,height=436');return false;"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" onclick="window.open('https://twitter.com/share?url={{this.web_url}}','twitter-share-dialog','width=626,height=436');return false;"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" onclick="window.open('https://plus.google.com/share?url={{this.web_url}}','google-share-dialog','width=626,height=436');return false;"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                    </div>
                <!-- {{/if}} -->
                <hr>
            {{/each}}
        </div>
    </div>
</template>
