<!-- Template for the sidebar -->
<template name="sideBar">
    <div id="mySidenav" class="sidenav">
        <input type="submit" class="closeBar btn btn-default" value="X" />
        <img class="logo" src="/images/LogoBig.png" width="250px"/>
        <div id="news-summary"></div>
        <br><button class="read-button btn btn-default">
            <span class="fa fa-newspaper-o"></span> Read More
        </button><br/>

        <!-- dummy button, front end fellas can take care of this -->
        {{#if currentUser}}
        <br><button class="bookmark btn btn-default" src="{{url}}">
            <span class="glyphicon glyphicon-bookmark"></span> Bookmark me
        </button><br/>
        {{/if}}

        <!-- Share Buttons -->
        <br><a class="fb-share" href="https://www.facebook.com/sharer.php?u={{url}}"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="twitter-share" href="https://twitter.com/share?url={{url}}"> <i class="fa fa-twitter fa-3x"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="google-share" href="https://plus.google.com/share?url={{url}}"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
    </div>
</template>
