<!-- Template for the Tutorial Box Types -->

<template name="tutorialBoxType">

    <div class="modal fade" id="tutorialTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" id = "modalDialogTut">
            <div class="modal-content">
                <div class="modal-header">
                    {{#if currentUser.services.facebook}}
                    <h4 class="modal-title" id="myModalLabel">Welcome {{currentUser.services.facebook.first_name}}!</h4>
                    {{else}}
                    {{#if currentUser.services.google}}
                    <h4 class="modal-title" id="myModalLabel">Welcome {{currentUser.services.google.given_name}}!</h4>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="tutorial-body-type">

                    <h5>Choose the type of news you would <br><br> like to see:</h5>
                    <form id="type-form-tutorial" action="action" class="typeSelection">

                      <h4>   <input type="checkbox" name="owns" value="world" > World &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="owns" value="business" > Business &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="owns" value="dining" > Dining<br/>

                      &nbsp;&nbsp;&nbsp;&nbsp;  <img src="/images/global.png" width="30px"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <img src="/images/graphic.png" width="30px"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="/images/cutlery.png" width="30px"/>&nbsp;&nbsp;<br/><br>
                        <input type="checkbox" name="owns" value="technology" > Technology &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="owns" value="sports" > Sports<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/technology.png" width="30px"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                        <img src="/images/football-1.png" width="30px"/><br><br>
                        <input type="submit" class="btn btn-default" value="Next" ></h4>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
