<!-- Template for the Tutorial Box Locations -->

<template name="tutorialBoxLocation">
    <div class="modal fade" id="tutorialTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" id = "modalDialogTut2">
            <div class="modal-content">
                <div class="modal-header">
                    {{#if currentUser.services.facebook}}
                    <h4 class="modal-title" id="myModalLabel">Welcome {{currentUser.services.facebook.first_name}}!</h4>
                    {{else}}
                    {{#if currentUser.services.google}}
                    <h4 class="modal-title" id="myModalLabel">Welcome {{currentUser.services.google.given_name}}!</h4>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="tutorial-body-location">
                    
                    <h5>Choose the location of your preferred news:</h5><br>
                    <form id="location-form-tutorial" action="action" class="location-text">
                      <!-- <div class="tutorial"> -->
                      <h4>

                          <input type="radio" id="custom" value="World" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> <img src="/images/world.png" width="30px"> World</label>
                           <br><br>

                          <input type="radio" id="custom" value="Africa" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> Africa</label> <br>
                          <input type = "radio" id="custom" value="South America" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> South America</label> <br>
                          <input type = "radio" id="custom" value="Oceania" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> Oceania</label> <br>
                          <input type = "radio" id="custom" value="Europe" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> Europe</label> <br>
                          <input type = "radio" id="custom" value="Asia" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> Asia</label> <br>
                          <input type = "radio" id="custom" value="North America" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> North America</label> <br>
                          <input type = "radio" id="custom" value="Antarctica" name="cont" class="continent radio_item"> <label class="label_item" for="custom"> Antartica</label> <br><br>
                          <input type="button" class="btn btn-default backbttn" value="Back">
                          <input type="submit" class="btn btn-default tutbt2" value="Let's Glance!">
                      </h4>
                    <!-- </div> -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>
