<!-- Template for the type filter -->

<template name="filterBar">
    <div class="filterSection">
        <form id="type-form" action="action">
            <input id="world" type="checkbox" name="owns" value="world" checked={{isChecked "world"}}           class="typenews"> <img src="/images/global.png" width="20px"/> World<br/>
            <input id="business" type="checkbox" name="owns" value="business" checked={{isChecked "business"}}     class="typenews"> <img src="/images/graphic.png" width="20px"/> Business<br/>
            <input id="dining" type="checkbox" name="owns" value="dining" checked={{isChecked "dining"}}         class="typenews"> <img src="/images/cutlery.png" width="20px"/> Dining<br/>
            <input id="technology" type="checkbox" name="owns" value="technology" checked={{isChecked "technology"}} class="typenews"> <img src="/images/technology.png" width="20px"/> Technology<br/>
            <input id="sports" type="checkbox" name="owns" value="sports" checked={{isChecked "sports"}}         class="typenews"> <img src="/images/football-1.png" width="20px"/> Sports<br/>
            <br>
            <input type = "checkbox" id="selectALl" value="All" onClick="toggleAll(this,'typenews')" class="typenews"> All <br>
        </form>
    </div>
</template>
