<template name="voiceSearch">
    <div class="input-group inputSmall-group">
     <span class="input-group-btn inputSmall-btn">
    <button class="btn btn-default speechRec" id="speechButton">
              <i class="fa fa-microphone" aria-hidden="true"></i>
    </button>
    </span>
      <input type="text" class="searchBar form-control" placeholder="Search...">
          <span class="input-group-btn inputSmall-btn">

          <button class="btn btn-default srchbtn" id="smallsearchButton">
              <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          
      </span>
    </div><!-- /input-group -->
</template>
