<template name="voiceSearchBig">
    <div class="input-group input-group-lg inputBig-group">
        <span class="input-group-btn inputBig-group-btn">
            <button class="btn btn-default speechRecDash" id="speechButtonBig">
                <i class="fa fa-microphone" aria-hidden="true"></i>
            </button>
        </span>
        <input type="text" class="searchBarBig form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-search" id="searchButton">Search</button>
        </span>
    </div><!-- /input-group -->
</template>
