.s-alert-success {
    background-color: #2970b9;
    border-radius: 8px;
    font-family: "TYPOGRAPH PRO Light";
}

.s-alert-error {
    border-radius: 8px;
    font-family: "TYPOGRAPH PRO Light";
}
