.comment-section {
    width: 25%;
    padding-right: 7px;
    height: 75%;
    overflow: scroll;
    right: 0;
    top: 0;
    position: absolute;
    padding-left: 7px;
    margin-top: 4em;
}

.commentBox-section {
    width: 25%;
    right:0;
    position: absolute;
    bottom: 0;
}

.comments {
    margin-top: 10px;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #004C99;
    border-color: white;
}

.commentbox-container {
    border-color: white;
}

.commentbox {
    margin-top: 10px;
    border-color: white;
    margin-bottom: 0px;
}

.charCount {
    margin-right: 50px;
    color: gray;
}

.errCharCount {
    margin-right: 10px;
    color: red;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.media {
    background-color: #ebebeb;
}

.media-left {
    background-color: #ebebeb;
}

.media-heading {
    background-color: #ebebeb;
    color: black;
    font-weight: bold;
    font-size: 16px;

}

.media-body {
    background-color: #ebebeb;
    color: black;
    padding-bottom: 3px;
}

/*.id-img{
    padding-top: 4px;
    padding-left: 4px;
    background-color: #ebebeb;
    position: relative;
}*/

.indivComment {
    padding: 10px;
}
