.modal-open .modal {
    overflow-y: hidden;
}
.dashModal {
  text-align: center;
  padding: 0!important;
}

.dashModal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

#modalDash {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 95%;
  height: 96%;
  margin-top: 2%;
}

.userDetails {
    height: 20%;
}

.searchSection {
    margin-top: 5%;
    height: 12%;
}

.dashcol {
    height: 100%;
}

.dashpanel {
    height: 100%;
}

.dashpanelcontent {
    max-height: 86%;
    overflow: scroll;
}

.recommends {
    margin-top: 2%;
    height: 45%;
    width: 94%;
    margin-left: 3%;
}

.dashboard-body {
    height: 100%;
}

.dash-content {
    height: 96%;
}

.toparticle, .suggarticle {
    height: 40%;
}

a.list-group-item:hover {
    background-color: rgb(237, 246, 255);
}

.inputBig-group {
    width: 60%;
    margin-left: 20%;
}

#facebook-login-modal-1
{
  width: 250px;
  line-height: 35px;
}

#google-login-modal-1
{
  width: 250px;
  line-height: 35px;
}

.panel-primary > .panel-heading {
    background-color: #2970b9;
}


.stockPrice {
    color: #2970b9;
    font-weight: bolder;
}

.sportDate {
    color: #2970b9;
    font-size: 10px;
}

.customPreferences {
    width: 700px;
}

.topNewsGuest {
    width: 70%;
    margin-left: 15%;
    height: 100%;
}

.redStock {
    color: red;
}

.greenStock {
    color: green;
}

.personalpanelcontent {
    /*height: 100px;*/
    height: 200px;
    overflow: scroll;
}

.personalpanelgroup {
    max-height: 200px;
}

/*a.list-group-item .suggText {
    color: #011f2c;
}*/
