.navbar {
    display: inline-block;
    position: fixed;
    top: 0;
    margin-top: 50px;
    margin-left: 120px;
    z-index: 50;
    width: 900px;
    height: 80px;
    border-radius: 10px;
    background-color: #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbarID {
    transition: margin-left .5s;
}

.navbar-text {
    margin-top: 15px;
    font-family: "TYPOGRAPH PRO Light";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 18px;
}

.navbar-default .navbar-text {
    color: black;
}

.navbar-default .navbar-text b{
    color: #2970b9;
}

ul.nav li.dropdown:hover > #listItem{
    background-color: #2970b9;
}

.loginButton {
    padding-top: 10px;
}


#custom
{
    margin-left: 5px;

}

#dropType
{
    margin-top: 5px;
    border-radius: 10px;
    background-color: #ebebeb;
    font-family: "TYPOGRAPH PRO Light";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
}

.navbar-nav .open .dropdown-menu {
    width: 200px;
}

.dropdown-menu
{
    border-radius: 10px;

}

.navbar-nav .open .dropdown-typeloc {
    width: 200px;
    max-height: 300px;
    opacity: 1;
}

.dropdown-typeloc
{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  width: 200px;
  border-radius: 10px;
}

.logout
{
    display: inline-block;
}

#listItem
{
    text-decoration: none;
    color: #ebebeb;
    font-family: "TYPOGRAPH PRO Light";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15px;
    background-color: #313131;
    margin-left: 5px;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
}

.dropdowns {
    margin-top: 20px;
    margin-left: -30px;
}

#weather {
    background-color: transparent;
    width: 150px;
    padding-top: 25px;
}

#weather h2 {
    font-family: "TYPOGRAPH PRO Light";
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}

#weather h4 {
    font-family: "TYPOGRAPH PRO Light";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}

.logo {
    margin-top: 10px;
}

.customMessage {
    margin-top: 0px;
}

.inputSmall-group {
    width: 175px;
    margin-top: 20px;
    margin-left: -15px;
    /*margin-left: -20px;*/
    /*margin-left: -50px;*/
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.dropdown-toggle {
    color: #313131;
    background-color: transparent;
    margin-top: 12px;
}

.dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle.active, .open>.dropdown-toggle.btn-default {
    color: #2970b9;
    background-color: transparent;
}

.dropdownNotifs {
    margin-left: 30px;
}

.dropdownBM {
    margin-left: -10px;
}

.bookmarkLink {
    text-align: left;
    white-space: normal;
}

.notificationLink {
    text-align: left;
    white-space: normal;
}

#chat-badge {
    background:red;
    position:relative;
    top: -60px;
    left: 40px;
}

#bm-badge {
    background:red;
    position:relative;
    top: -57px;
    left: 35px;
}

.notif-button {
    float: left;
}

button.list-group-item {
    width: 300px;
    float: left;
}

.notification {
    width: 327px;
}

.close-button{
    float:left;
    opacity: 0.3;
    border-color: transparent;
    background-color: transparent;
}

.close-button:hover {
    opacity: 1.0;
}
