.login-button {
    padding: 15px;
    margin-left: 175px;
    width: 500px;
    height: 30px;
    color: red;

}

#myModalLabelLogin
{
  line-height: 25px;
  font-size: 30px;
}

ul.nav li.dropdown:hover > #listItem{
    background-color: #2970b9;
}



#modalDialogUniq {
  padding-top: 120px;
  width: 600px;
  height: 900px;
}

#myModalcontent{
  background-color: #ebebeb;
}


#facebook-login-modal
{
  width: 250px;
  line-height: 40px;
}

.fa.fa-facebook
{
  line-height: 55px;
}

#google-login-modal
{
  width: 250px;
  line-height: 40px;
}

.fa.fa-google
{
  line-height: 55px;
}



.logButton {
  padding-top: 35px;
  padding-right: 10px;

}

.typeSelection {
  padding: 20px;


}
