body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    height: 100%;
    width: 100%;
    transition: margin-left .5s;
}

/* Text styles */

h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 30.4px;
}

h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

p {
    font-family: "TYPOGRAPH PRO Light";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
}

h4 {
    font-family: "TYPOGRAPH PRO Light";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}

h5 {
    font-family: "TYPOGRAPH PRO Light";
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}


/* Buttons */

.btn-default {
    color: #ebebeb;
    background-color: #2e343c;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #ebebeb;
    background-color: #2970b9;
    border-color: #ccc; /*set the color you want here*/
}

/* Images */

.img-responsive {
    height: auto;
    width: 100px;
    max-height: 85px;
    max-width: 650px;
    padding: 0px;
}

/* Others */

#news-bar {
    margin: 0 auto;
}

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.btnGroup {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/* Fonts */

@FONT-FACE {
    font-family: "TYPOGRAPH PRO Light";
    src: url("/fonts/TYPOGRAPH PRO Light.ttf");
}

@FONT-FACE {
    font-family: "TYPOGRAPH PRO Semi Bold";
    src: url("/fonts/TYPOGRAPH PRO Semi Bold.ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  padding-top: 20px;
  margin-left: -20px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



.hover-text {
    font-family: "TYPOGRAPH PRO Semi Bold";
    color: #2970b9;
}

.gm-style-iw {
    width: 500px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ebebeb;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border-radius: 2px 2px 10px 10px;
}

.iwCloseBtn.css {
    background-color: #ebebeb;
    color: #ebebeb;
}

.list-group {
    margin-bottom: -20px;
}

.iw-text {
    overflow: scroll;
    max-height: 180px;
}

.dashbtn {
    position: fixed;
    z-index: 999;
    left: 45%;
    border-color: transparent;
    background-color: #2970b9;
    top: 87%;
    width: 200px;
    height: 50px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.dashbutton {
    line-height: 10px;
    font-size: 25px;
}

#facebook-login{
    white-space: normal;
    position: fixed;
    z-index: 999;
    left: 95%;
    border-color: transparent;
    background-color: #2970b9;
    top: 1%;
    width: 70px
}

#logout {
    white-space: normal;
    position: fixed;
    z-index: 999;
    left: 95%;
    border-color: transparent;
    background-color: #2970b9;
    top: 1%;
    width: 70px;
}

#facebook-login:hover {
    border-color: #ccc; /*set the color you want here*/
}

#logout:hover {
    border-color: #ccc; /*set the color you want here*/
}

.img-thumbnail {
    max-width: 175px;
}
