.map-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/*#map-container {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}*/
