.rm-modal-dialog {
    width: 98%;
    height: 99%;
    padding: 0;
    position: fixed;
    padding-left: 2%;
}

.rm-modal-content {
    height: 90%;
}

.panel-title {
    font-size: 14px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.panel-info > .panel-heading {
    color: #ebebeb;
    background-color: #2970b9;
    border-color: #ebebeb;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    border-bottom-color: black;
}

.comment-body{
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.modal-header{
    background-color: #2970b9;
    color: white;
}

.panel-info {
    border-color: #ebebeb;
}

.close {
    color: white;
}

.rm-modal-body{
    width: 75%;
    height: 92%;
    overflow-y: auto;
}


.news-img {
    float: left;
    clear: left;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 30px;
    padding-bottom: 10px;

}

.news-body {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
}


.read-more-title{
    font-family: "TYPOGRAPH PRO Light";
    font-size: 45px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

#news-article{
    font-family: "TYPOGRAPH PRO Light";

}
