#searchResultsBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #ebebeb;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
    overflow-y: scroll;
}

.closeSearchBar {
    margin-top: 5px;
    margin-left: 185px;
}

.searchResultText {
    padding: 20px;
}
