.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ebebeb;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ccc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.closeBar {
    margin-top: 5px;
    margin-left: 185px;
}

.fa-facebook-square{
    color: #130C78;
}
.fa-facebook-square:hover {
    color: #313131;
}

.fa-twitter{
    color: #5FB9FE;
}
.fa-twitter:hover{
    color: #313131;
}

.fa-google-plus{
    color: red;
}
.fa-google-plus:hover{
    color: #313131;
}

#news-summary{
    padding-top: 15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10%;
}

.logo {
    padding-left: 20px;
}
