.tutorial {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#modalDialogTut {
  padding-top: 82px;
  width: 900px;
  height: 900px;
}

#modalDialogTut2 {
  padding-top: 60px;
  width: 900px;
  height: 900px;
}

.world-position {

}

.location-text {
  text-align: left;
  margin-left: 325px;
}

.backbttn{
  margin-left: -13px;
}

.tutbt2 {
  margin-left: 10px;
}

.tutorial-body-location {
  width: 898px;
  height: 450px;
  padding: 50px;
  text-align: center;
  background-color:  #ebebeb;
}

.tutorial-body-type {
  width: 898px;
  height: 400px;
  text-align: center;
  padding: 50px;
  background-color:  #ebebeb;
}

.radio_item{
//display: none !important;
}

.label_item {
opacity: 1;
}

.radio_item:checked + label {
opacity: 1;
color: #2970b9;
}

input.radio_item {
  background: blue;
}
